.symbol-icon {
    display: block;
    fill: $color-icons-2;
    transition: $transition;
    &:hover {
        fill: $color-icons;
    }
}

.symbol-logo {
    width: 144px;
    height: 31px;

}
.symbol-menu {
    width: 47px;
    height: 47px;
    fill: $color-primary;
}
.symbol-target {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11,
    &-12{
        max-width: 50px;
        height: 50px;
    }
}
.symbol-arrow-right {
    width: 24px;
    height: 24px;
}

.symbol-arrow-down {
    width: 24px;
    height: 24px;
}

.symbol-triangle {
    width: 30px;
    height: 32px;
}

.social-vk {
    width: 33px;
    height: 33px;
}
.social-in {
    width: 33px;
    height: 33px;
}
.social-fb {
    width: 33px;
    height: 33px;
}
.social-pi {
    width: 33px;
    height: 33px;
}
.social-you {
    width: 33px;
    height: 33px;
}
.social-zen {
    width: 33px;
    height: 33px;
}
.social-ok {
    width: 33px;
    height: 33px;
}
.social-embed-fb {
    width: 33px;
    height: 33px;
}
.social-embed-in {
    width: 33px;
    height: 33px;
}
.social-embed-vk {
    width: 33px;
    height: 33px;
}
.social-embed-inst {
    width: 33px;
    height: 33px;
}

.direct-tg, .direct-fb {
    width: 52px;
    height: 52px;
}
.direct-wechat {
    display: none;
    width: 52px;
    height: 52px;
}

.symbol-flag {
    &-ru, &-en, &-jp, &-zh, &-es {
        background-image: url(../images/languages.png);
        background-position: 0px 0px;
        background-size: 174px 22px;
        background-repeat: no-repeat;
        width: 34px;
        height: 22px;
        box-shadow: 0 0 1px #999;
    }
    &-ru {
        //background-position: center 200px;
    }
    &-en {
        background-position: -35px 0;
    }
    &-jp {
        background-position: -70px 0;
    }
    &-zh {
        background-position: -105px 0;
    }
    &-es {
        background-position: -140px 0;
    }
}

.thx {
    &-r,
    &-b,
    &-m,
    &-w,
    &-y,
    &-f,
    &-t,
    &-vk {
        width: 74px;
        height: 73px;
    }
}
