input {
    &:focus {
        outline: none;
    }
}
.subscribe {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 20px;
    @media(max-width: $media-point-2) {
        align-items: center;
    }
    @media(max-width: $media-point-4) {
        margin-bottom: 25px;
        justify-content: center;
    }
    &__form {
        width: 275px;
        margin-right: 30px;
        display: inline-block;
        position: relative;
        @media(max-width: $media-point-3) {
            width: 305px;
            margin-bottom: 20px;
        }
        @media(max-width: $media-point-4) {
            width: 100%;
            margin-right: 0;
        }
    }
    &__button {
        padding: 13px;
        text-align: center;
        border: 2px solid $color-primary;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        background: $color-background;
        //box-shadow: 0 1px 2px rgba(0,0,0,0.14);
        &:focus {
            outline: none;
        }
        &:hover {
            background: #ffb533;
            background: -moz-linear-gradient(left, #ffb533 0%, #fee500 100%);
            background: -webkit-linear-gradient(left, #ffb533 0%,#fee500 100%);
            background: linear-gradient(to right, #ffb533 0%,#fee500 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb533', endColorstr='#fee500',GradientType=1 );
            .symbol-icon {
                fill: $color-background;
            }
        }
        .symbol-icon {
            fill: $color-primary;
        }
    }
    &__icon + &__icon {
        margin-left: 25px;
    }
}

input[type='text'].subscribe__input {
    padding: 17px 70px 17px 40px;
    color: $color-text-primary;
    border: 2px solid $color-primary;
    border-radius: 30px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    @media(max-width: $media-point-4) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &::placeholder {
        font-size: 14px;
        color: $color-text-primary;
        opacity: .8;
    }
}
