
.tooltip {
    display: none;
    position: absolute;
    background: $color-background;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    color: $color-text-primary;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 9999;
    bottom: calc(100% + 10px);
    left: 50%;
    margin-left: -100px;
    margin-right: -100px;
    max-width: 200px;
    &-hover {
        &:hover {
            .tooltip {
                display: inline-block;
            }
        }
    }
}
