$color-pulse: rgba(252, 209, 51, 0.3);

@keyframes pulse1 {
    0% {
        box-shadow: 0 0 0px $color-pulse;
    }
    45% {
        box-shadow: 0 0 50px $color-pulse;
    }
    55% {
        box-shadow: 0 0 50px $color-pulse;
    }
    100% {
        box-shadow: 0 0 0px $color-pulse;
    }
}
@keyframes pulse2 {
    0% {
        box-shadow: 0 0 0px $color-pulse;
    }
    30% {
        box-shadow: 0 0 50px $color-pulse;
    }
    70% {
        box-shadow: 0 0 50px $color-pulse;
    }
    100% {
        box-shadow: 0 0 0px $color-pulse;
    }
}

@keyframes pulse3 {
    0% {
        box-shadow: 0 0 0px $color-pulse;
    }
    15% {
        box-shadow: 0 0 50px $color-pulse;
    }
    85% {
        box-shadow: 0 0 50px $color-pulse;
    }
    100% {
        box-shadow: 0 0 0px $color-pulse;
    }
}


@keyframes progress-bar-animation1 {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes progress-bar-animation2 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes progress-bar-animation3 {
    0% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
