
.footer {
    padding-top: 120px;
    padding-bottom: 120px;
    @media(max-width: $media-point-4) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .logo {
        display: inline-block;
        margin-bottom: 80px;
        @media(max-width: $media-point-4) {
            margin-bottom: 25px;
        }
    }
    .copy {
        color: $color-text-secondary;
    }
    &__nav {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 10px 0;
            a {
                text-decoration: none;
                color: $color-text-primary;
            }
        }
    }
    .col-4 {
        p {
            max-width: 180px;
        }
    }
}

.social-links {
    max-width: 400px;
    margin-bottom: 16px;
    &__item {
        margin-right: 8px;
        display: inline-block;
    }
}
