.header {
    padding: 40px 0;

}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
        display: inline-block;
        a {
            color: $color-text-primary;
            text-decoration: none;
            padding: 10px 20px;
        }
    }
}

.lang-item {
    &__flag {
        display: inline-block;
        margin: 0 4px;
    }
}
